# Build artifacts
*.asv

# OS files
.DS_Store

# Data files
*.asc
*.edf
*.mat
*.zip

# Directories
analysis-files/*
Edf2Mat
edf_examples/*
EyetrackingOutput
future_improvments/*
sandboxing/*

# Project specific
Edf2Mat.piz
edfmex/*.mex*
edfmex/source/edf2mex.h

# Temporary files
~$f_Matlab_Converter.docx
